# Entorno virtual de Python
.venv/
venv/
env/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración de IDEs
.vscode/
.idea/

# Archivos de dependencias y secretos
.env
*.env
pip-log.txt
pip-delete-this-directory.txt

# Carpetas de datos generados y bases de datos
procesado/
*.faiss
*.json

# Archivos temporales de Office
~$*

# Registros y otros
*.log