# Entorno virtual de Python
.venv/
venv/
env/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración de IDEs
.vscode/
.idea/

# Archivos de dependencias y secretos
.env
*.env
pip-log.txt
pip-delete-this-directory.txt

# NO IGNORAR 'procesado' PARA QUE GIT LFS PUEDA MANEJARLO
# procesado/  <-- LÍNEA ELIMINADA O COMENTADA
# *.faiss     <-- LÍNEA ELIMINADA O COMENTADA

# Archivos temporales de Office
~$*

# Registros y otros
*.log